body {
	    background-size: 1366px 768px;
        background-repeat: repeat;

}
hr {
  color: #000000;
  background-color:#000000;
  height:3px;
  width: 100%;
  border:none;
}

h1 {
    font-family: Gill Sans, Verdana;
	font-size: 60px;
	color: #2266FF;
}
p{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#footer {
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
    margin-top: 30px;	
}

#wrapper {
	    background-size: 1366px 768px;
        background-repeat: repeat;
		width:1313px;
		margin:0;
		padding:10px;
		height:auto;
	
	}




